@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap);

@font-face {
    font-family: Noel;
    src: url(/html/static/fonts/ChristmasShaky.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 500;
    font-family: Outfit
}

#content-playermics {
    opacity: 0%;
    position: relative
}

#content-playermics .wrap-mic {
    position: absolute;
    bottom: .8vw;
    right: .8vw;
    width: 7vw;
    height: 3vw;
    justify-content: space-between
}

#content-playermics .wrap-mic,
#content-playermics .wrap-mic .mic {
    display: flex;
    align-items: center
}

#content-playermics .wrap-mic .mic .micState svg {
    height: 1.3vw;
    width: 1.3vw
}

#content-playermics .wrap-mic .mic .micRange .stage {
    margin: .2vw;
    margin-right: .3vw;
    width: 1vw;
    height: .35vw;
    box-shadow: inset 0 0 0 .1vw #000;
    background-color: gray;
    transition: all .5s
}

#content-playermics .wrap-mic .mic .micRange .stage.active {
    background-color: hwb(31, 17%, 0%)
}

#content-playermics .wrap-mic .radio {
    text-align: center;
    width: 100%
}

#content-playermics .wrap-mic .radio .radioContent {
    text-align: center
}

#content-playermics .wrap-mic .radio .radioContent .freqRadio {
    color: #fff;
    font-size: .6vw
}

#content-playermics .wrap-mic .radio .radioContent svg {
    margin-bottom: -.25vw;
    height: 1.4vw
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all .3s ease
}

.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0
}

.svg-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 2.7vw
}

.svg-wrapper .TrasnCircle {
    transition: all .5s
}

#content-playerstatus .wrap-status {
    opacity: 0%;
    margin-top: -.2vw
}

#content-serverinfos {
    color: #fff
}

#content-serverinfos .wrap-infos {
    opacity: 0%;
    position: absolute;
    right: 1vw;
    width: 6vw
}

#content-serverinfos .wrap-infos .PlayerIdAndConnect {
    display: flex;
    justify-content: space-between
}

#content-serverinfos .wrap-infos .PlayerIdAndConnect .PlayerId {
    font-size: .3vw;
    display: flex;
    align-items: center;
    width: 3vw
}

#content-serverinfos .wrap-infos .PlayerIdAndConnect .PlayerId .iconId {
    background-color: #0089c9;
    width: 1vw;
    height: 1vw;
    border-radius: .3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .3vw
}

#content-serverinfos .wrap-infos .PlayerIdAndConnect .PlayerId .iconId a {
    font-size: .55vw;
    font-weight: 700;
    color: #000
}

#content-serverinfos .wrap-infos .PlayerIdAndConnect .PlayerConnected {
    font-size: .3vw;
    display: flex;
    align-items: center
}

#content-serverinfos .wrap-infos .PlayerIdAndConnect .PlayerConnected svg {
    margin-right: .3vw;
    width: 1.2vw
}

#content-serverinfos .wrap-infos .ClockTime {
    margin-top: .2vw;
    display: flex;
    align-items: center
}

#content-serverinfos .wrap-infos .ClockTime svg {
    margin-right: .3vw;
    width: 1.2vw
}

#content-serverinfos .wrap-infos .ClockTime .TimeAff {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

#content-serverinfos .wrap-infos .ClockTime .TimeAff .currentDate,
#content-serverinfos .wrap-infos .ClockTime .TimeAff .currentTime {
    font-size: .65vw
}

#content-servericon {
    opacity: 0%;
    color: #fff
}

#content-servericon .wrap-serverIcon {
    margin-top: .5vw;
    height: 30%;
    display: flex;
    align-items: center
}

#content-servericon .wrap-serverIcon .discord {
    position: absolute;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -.5vw;
    transform: translate(-25vw);
    text-align: right
}

#content-servericon .wrap-serverIcon .discord.DiscordActive {
    transform: translate(0)
}

#content-servericon .wrap-serverIcon .discord .dLink {
    opacity: 0%;
    font-size: .8vw;
    margin: .5vw;
    width: 7vw
}

#content-servericon .wrap-serverIcon .discord .dLink:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .6) 0, rgba(33, 33, 33, .74) 100%);
    box-shadow: inset 0 0 0 .06vw #0089c9;
    transform: skew(-15deg)
}

#content-servericon .wrap-serverIcon .content-logo {
    position: absolute;
    transition: all 1s
}

#content-servericon .wrap-serverIcon .content-logo.LogoActive {
    transform: rotate(-1turn) scale(0)
}

#content-servericon .wrap-serverIcon .content-logo img {
    width: 4vw
}

#content-playerspeedometer {
    opacity: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff
}

#content-playerspeedometer .wrap-grid {
    margin-bottom: 1vw;
    display: grid;
    grid-template-columns: 4vw .3vw .3vw 2vw;
    grid-template-rows: 1vw 2.2vw 1vw
}

#content-playerspeedometer .wrap-grid .namekmh {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: .7vw
}

#content-playerspeedometer .wrap-grid .nbrKmh {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 2.5vw
}

#content-playerspeedometer .wrap-grid .content-gad {
    display: flex;
    align-items: center;
    justify-content: center
}

#content-playerspeedometer .wrap-grid .content-gad svg {
    margin-left: .3vw
}

#content-playerspeedometer .wrap-grid .separate {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    width: .1vw;
    height: 80%;
    border-radius: 1vw
}

#content-playerspeedometer .wrap-grid .vitesseAndFuel {
    display: flex;
    justify-content: space-between;
    flex-direction: column
}

#content-playerspeedometer .wrap-grid .vitesseAndFuel .vitesse {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.2vw;
    color: #0089c9
}

#content-playerspeedometer .wrap-grid .vitesseAndFuel .fuelCont {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 5vw
}

#content-playerspeedometer .wrap-grid .vitesseAndFuel .fuelCont svg {
    width: .8vw;
    margin-right: .3vw
}

#content-playerspeedometer .wrap-grid .vitesseAndFuel .fuelCont .numberFuel {
    font-size: .55vw
}

#HudPlayerSafeZone {
    position: absolute; /* Utilisez 'fixed' si vous voulez que l'élément reste en place lors du défilement */
    top: 10%; /* Aligné en haut */
    left: 50%; /* Centré horizontalement par rapport au conteneur parent */
    transform: translateX(-50%); /* Décale l'élément de 50% de sa largeur vers la gauche pour le centrer parfaitement */
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; /* Ajuster pour une valeur plus grande si nécessaire */
    white-space: nowrap; /* Assurer que le texte reste sur une seule ligne */
}

#HudPlayerSafeZone .wrap-enter {
    position: absolute;
    text-align: center;
    transform: translateX(vw);
    visibility: hidden;
    /* transition: all 1s */
}

#HudPlayerSafeZone .wrap-enter .text {
    color: #fff;
    font-weight: 700
}

#HudPlayerSafeZone .wrap-enter svg {
    text-align: center;
    width: 2vw
}

#HudPlayerSafeZone .wrap-enter.active {
    visibility: visible;
    transform: translateX(0)
}

#HudPlayerSafeZone .wrap-exit {
    position: absolute;
    text-align: center;
    transform: translateX(20vw);
    visibility: hidden;
    /* transition: all 1s */
}

#HudPlayerSafeZone .wrap-exit .text {
    color: #fff;
    font-weight: 700
}

#HudPlayerSafeZone .wrap-exit svg {
    text-align: center;
    width: 2vw
}

#HudPlayerSafeZone .wrap-exit.active {
    visibility: visible;
    transform: translateX(0)
}

#HudNotification {
    width: 100%;
    display: flexbox;
    align-self: self-end
}

#HudNotification .notify-item {
    position: relative;
    background-color: rgba(33, 33, 33, .85);
    border-radius: .3vw;
    margin: 0 auto;
    margin-bottom: 1vh;
    margin-left: 1vh;
    overflow: hidden;
    transform: translate(-25vw);
    transition: 1.5s;
    display: grid;
    grid-template-columns: .8vw 0 1fr .8vw;
    grid-template-rows: .5vw 1vw 1fr .6vw;
    min-height: 4vw;
    width: 100%
}

#HudNotification .notify-item .wrap-title {
    display: flex;
    align-items: center;
    justify-content: space-between
}

#HudNotification .notify-item .wrap-title .titleWrap {
    display: flex;
    align-items: center
}

#HudNotification .notify-item .wrap-title .titleWrap img {
    width: 1vw
}

#HudNotification .notify-item .wrap-title .titleWrap .titleNotif {
    color: #fff;
    font-size: .7vw;
    margin-right: .5vw
}

#HudNotification .notify-item .wrap-title .levelNotif {
    color: #fff;
    font-size: .5vw;
    background-color: #289128;
    padding: .2vw;
    border-radius: .2vw
}

#HudNotification .notify-item .wrap-message {
    display: flex;
    align-items: center;
    margin-top: .7vw;
    margin-bottom: .7vw
}

#HudNotification .notify-item .wrap-message .msgNotif {
    color: #fff;
    font-size: .6vw;
    opacity: .8
}

#HudNotification .notify-item .wrap-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .1vw;
    margin-bottom: .1vw
}

#HudNotification .notify-item .wrap-icon svg {
    width: 1.4vw
}

#HudNotification .notify-item .wrap-icon img {
    height: 2.5vw;
    width: 2.5vw
}

#HudNotification .notify-item .wrap-notifyProgress {
    width: 95%;
    height: .4vh;
    background: rgba(0, 0, 0, .5);
    border-radius: .2vw;
    margin: 0 auto
}

#HudNotification .notify-item .wrap-notifyProgress .notify-progress-inner {
    width: 0;
    height: .3vh;
    background: #0089c9;
    box-shadow: 0 0 3px 2px rgba(223, 136, 44, .5);
    border-radius: .2vw
}

#HudNotification .notify-item .wrap-notifyProgress .notify-progress-inner.active {
    width: 100%
}

#HudNotification .notify-item .wrap-notifLevel {
    display: flex;
    align-items: center;
    justify-content: center
}

#HudNotification .notify-item .wrap-notifLevel .notify-alert-level {
    height: 50%;
    width: .2vw;
    border-radius: .2vw;
    background: #fff
}

#HudNotification .notify-item.active {
    transform: translate(0);
    transition: .5s
}

#HudNotification .notify-item.finish {
    height: 0;
    min-height: 0;
    margin-bottom: 0;
    transition: .5s
}

#content-helptext {
    opacity: 0;
    transition: all 1s
}

#content-helptext,
#content-helptext .wrap-spin {
    display: flex;
    justify-content: center;
    align-items: center
}

#content-helptext .wrap-spin {
    width: 10%;
    height: 100%
}

#content-helptext .wrap-spin .spinner {
    position: absolute;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center
}

#content-helptext .wrap-spin .spinner span {
    display: block;
    width: 3.5vw;
    height: 3.5vw;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right-color: hsla(0, 0%, 100%, .7);
    animation: spinner-anim 1s linear infinite
}

#content-helptext .wrap-spin .content-key {
    position: absolute;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center
}

#content-helptext .wrap-spin .content-key .keyName {
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50%;
    border: 2px solid #0089c9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1vw
}

#content-helptext .wrap-text {
    color: #fff;
    max-width: 10vw;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    text-align: center
}

#content-helptext .wrap-text .helptext {
    animation-name: Close;
    animation-duration: .6s;
    animation-fill-mode: both
}

#content-helptext .wrap-text .helptext.animOpenText {
    animation-name: Open;
    animation-duration: .6s;
    animation-fill-mode: both
}

#content-helptext.AnimOpacity {
    opacity: 1
}

@keyframes spinner-anim {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes Close {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-10vw)
    }
}

@keyframes Open {
    0% {
        transform: translateX(-10vw)
    }

    to {
        transform: translateX(0)
    }
}

#Hud {
    opacity: 1;
    transition: opacity .5s;
    position: absolute;
    overflow: hidden
}

#Hud,
#Hud .hud-grid {
    width: 100%;
    height: 100%
}

#Hud .hud-grid {
    display: grid;
    grid-template-columns: 16vw 5vw 1fr 5vw 16vw;
    grid-template-rows: 1.5vw 5.5vw 1fr 3.5vw 10.8vw;
    /* background: linear-gradient(220deg, rgba(0, 0, 0, .5), hsla(0, 0%, 100%, 0) 20%), linear-gradient(1turn, rgba(0, 0, 0, .5), hsla(0, 0%, 100%, 0) 20%) */
}

#Hud.HudBlock {
    opacity: 100%
}

.fadeSpeedoMeter-enter-active,
.fadeSpeedoMeter-leave-active {
    transition: all 1.5s ease
}

.fadeSpeedoMeter-enter-from,
.fadeSpeedoMeter-leave-to {
    opacity: 0;
    transform: translateY(6vw)
}

.pumpDisplay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.pumpDisplay .content-fuel {
    width: 13%
}

.pumpDisplay .content-fuel .fuelCost {
    color: #fff;
    display: flex;
    justify-content: space-between
}

.pumpDisplay .content-fuel .fuelCost .cost-p {
    color: green
}

.pumpDisplay .content-fuel .fuelTank {
    color: #fff;
    display: flex;
    justify-content: space-between
}

.pumpDisplay .content-fuel .fuelTank .tank-p {
    color: aqua
}

#WeedFloatingHelpText .FloatBox {
    position: fixed
}

#WeedFloatingHelpText .FloatBox .wrap-floathelp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14vw;
    background-color: rgba(33, 33, 33, .7);
    border-radius: .2vw;
    border-bottom: 1px solid #0089c9;
    color: #fff
}

#WeedFloatingHelpText .FloatBox .wrap-floathelp .content-float {
    margin: .5vw;
    margin-left: 1vw;
    margin-right: 1vw
}

#WeedFloatingHelpText .FloatBox .wrap-floathelp .content-float .title {
    text-align: center;
    font-size: 1vw;
    margin-bottom: .5vw
}

#WeedFloatingHelpText .FloatBox .wrap-floathelp .content-float .notBuy {
    text-align: center;
    font-size: .8vw
}

#WeedFloatingHelpText .FloatBox .wrap-floathelp .content-float .pot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5vw
}

#WeedFloatingHelpText .FloatBox .wrap-floathelp .content-float .pot svg {
    width: 1.3vw
}

#WeedFloatingHelpText .FloatBox .wrap-floathelp .content-float .lamp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5vw
}

#WeedFloatingHelpText .FloatBox .wrap-floathelp .content-float .lamp svg {
    width: 1.3vw
}

#AdminBoard {
    opacity: 0;
    position: absolute;
    top: 3vw;
    right: 2vw;
    width: 11vw
}

#AdminBoard .title {
    justify-content: center;
    font-size: .9vw;
    margin-bottom: .5vw;
    border-bottom: 1px solid #0089c9
}

#AdminBoard .content-staff,
#AdminBoard .title {
    display: flex;
    align-items: center;
    color: #fff;
    height: 1.5vw
}

#AdminBoard .content-staff {
    justify-content: space-between
}

#AdminBoard .content-staff .username {
    font-size: .7vw
}

#AdminBoard .content-staff .username svg {
    width: .5vw;
    margin-right: .3vw
}

#AdminBoard .content-staff .reportCount {
    font-size: .7vw
}

#AdminBoard .CAvgReports {
    margin-top: .5vw;
    color: #fff;
    text-align: center;
    font-size: .9vw
}

#AdminBoard .content-avgReport {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.5vw
}

#AdminBoard .content-avgReport .avgReportCount,
#AdminBoard .content-avgReport .avgReportName {
    font-size: .7vw
}

#InventoryMainHeader {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end
}

#InventoryMainHeader .categ-items {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 1vw;
    gap: .5vw
}

#InventoryMainHeader .categ-items .box {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 4.7vw;
    height: 1.85vw;
    font-size: .55vw;
    border-radius: 8px;
    box-shadow: inset 0 0 0 .04vw hsla(0, 0%, 50%, .7);
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .4) 0, rgba(33, 33, 33, .6) 100%);
    transition: all .5s
}

#InventoryMainHeader .categ-items .box svg {
    width: 1vw;
    margin-right: 5px
}

#InventoryMainHeader .wrap-kiloPlayer {
    margin-bottom: 1vw;
    height: 2vw;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center
}

#InventoryMainHeader .wrap-kiloPlayer .headerKilo {
    text-align: center;
    position: relative;
    right: 160px;
    top: 10px;
}

#InventoryMainHeader .wrap-kiloPlayer .headerKilo svg {
    width: 1.75vw;
    opacity: 1;
}

#InventoryMainHeader .wrap-kiloPlayer .headerKilo .text {
    position: relative;
    left: 42px;
    bottom: 25px;
    font-size: 0.52vw;
    color: #fff
}

.content-svg {
    opacity: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#InventoryMainContent {
    overflow-y: scroll;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 4.7vw);
    grid-template-rows: repeat(auto-fill, 4.7vw);
    gap: .5vw
}

#InventoryMainContent::-webkit-scrollbar {
    display: block;
    width: 3px
}

#InventoryMainContent::-webkit-scrollbar-track {
    border-radius: 8px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .4) 0, rgba(33, 33, 33, .6) 100%);
}

#InventoryMainContent::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: linear-gradient(180deg, #0089c9, #0089c9)
}

#InventoryMainWeapons .wrap-weapons {
    margin-top: 1.5vw;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .5vw
}

.AnimationWeapons.boxWeapons:hover {
    transform: scale(1.05)
}

#InventoryClothesHeader {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: self-end
}

#InventoryClothesHeader .clothe-slot {
    cursor: pointer;
    margin-bottom: 2vw;
    width: 4.7vw;
    height: 4.7vw;
    border-radius: .3vw;
    box-shadow: inset 0 0 0 .04vw hsla(0, 0%, 50%, .7);
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .4) 0, rgba(33, 33, 33, .6) 100%);
    display: flex;
    justify-content: center;
    align-items: center
}

#InventoryClothesHeader .clothe-slot .wrap-item {
    position: relative;
    width: 90%;
    height: 90%
}

#InventoryClothesHeader .clothe-slot .wrap-item .nameItem {
    position: absolute;
    bottom: 0;
    font-size: .5vw;
    bottom: 5px;
    text-align: center;
    width: 100%;
    color: #fff
}

#InventoryClothesHeader .clothe-slot .wrap-item .imgItem {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 1vw;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat
}

#InventoryClothesContent {
    display: grid;
    grid-template-columns: 4.7vw 1fr 4.7vw;
    grid-template-rows: repeat(6, 4.7vw);
    gap: .5vw
}

#InventoryClothesContent .PlayerPreviewPlaceHolder {
    grid-column: 2/2;
    grid-row: 1/7;
    display: flex;
    justify-content: center;
    align-items: center
}

#InventoryClothesContent .clothes-slot {
    cursor: pointer;
    overflow: hidden;
    width: 4.7vw;
    height: 4.7vw;
    border-radius: .3vw;
    box-shadow: inset 0 0 0 .04vw hsla(0, 0%, 50%, .7);
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .4) 0, rgba(33, 33, 33, .6) 100%);
    display: flex;
    justify-content: center;
    align-items: center
}

#InventoryClothesContent .clothes-slot:hover {
    animation: pulse 1s ease infinite
}

#InventoryClothesContent .clothes-slot .wrap-item {
    position: relative;
    width: 90%;
    height: 90%
}

#InventoryClothesContent .clothes-slot .wrap-item .nameItem {
    position: absolute;
    bottom: 0;
    font-size: .5vw;
    bottom: 5px;
    text-align: center;
    width: 100%;
    color: #fff
}

#InventoryClothesContent .clothes-slot .wrap-item .imgItem {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 1vw;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat
}

.AnimThisClothes.clothes-slot:hover {
    transform: scale(1.05)
}

.AnimThisClothes.clothes-slot:after {
    content: "";
    display: block;
    width: 30px;
    height: 100%;
    position: absolute;
    top: -180px;
    left: 0;
    background-color: #0089c9;
    opacity: 0;
    transform: rotate(45deg);
    animation: reflect 1.5s ease-in-out infinite
}

@keyframes reflect {
    0% {
        transform: scale(0) rotate(45deg);
        opacity: 0
    }

    55% {
        transform: scale(0) rotate(45deg);
        opacity: .5
    }

    56% {
        transform: scale(4) rotate(45deg);
        opacity: 1
    }

    to {
        transform: scale(50) rotate(45deg);
        opacity: 0
    }
}

#InventorySecondHeader {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end
}

#InventorySecondHeader .wrap-kiloOthers {
    margin-bottom: 1vw;
    height: 2vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

#InventorySecondHeader .wrap-kiloOthers .nameInventorySecond {
    color: #fff;
    font-size: 1.3vw;
    bottom: 20px;
}

#InventorySecondHeader .wrap-kiloOthers .headerKilo {
    text-align: center;
    position: relative;
    right: 15px;
    top: 10px;
}

#InventorySecondHeader .wrap-kiloOthers .headerKilo svg {
    width: 1.75vw;
    opacity: 1;
}

#InventorySecondHeader .wrap-kiloOthers .headerKilo .text {
    position: relative;
    font-size: 0.52vw;
    color: #fff;
    bottom: 25px;
    right: 36px;
}

#InventorySecondContent {
    overflow-y: scroll;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 4.7vw);
    grid-template-rows: repeat(auto-fill, 4.7vw);
    gap: .5vw
}

#InventorySecondContent::-webkit-scrollbar {
    display: block;
    width: 3px
}

#InventorySecondContent::-webkit-scrollbar-track {
    border-radius: 8px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .4) 0, rgba(33, 33, 33, .6) 100%)
}

#InventorySecondContent::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #0089c9
}

#InventorySecondContent::-webkit-scrollbar-thumb:hover {
    background: #0089c9
}

#InventorySecondLogo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

#InventorySecondLogo .wrap-logo {
    text-align: center
}

#InventorySecondLogo .wrap-logo .content-logoInv {
    display: flex;
    align-items: center;
    justify-content: center
}

#InventorySecondLogo .wrap-logo .content-logoInv img {
    position: relative;
    bottom: 400px;
    right: 575px;
    transition: all .5s;
    transform: rotate(0deg) scale(1);
    width: 10vw
}

/* #InventorySecondLogo .wrap-logo .content-logoInv .discordInv {
    transition: all 1.5s;
    position: absolute;
    opacity: 0;
    color: #fff
} */

/* #InventorySecondLogo .wrap-logo .content-logoInv:hover img {
    transform: rotate(-1turn) scale(0)
}

#InventorySecondLogo .wrap-logo .content-logoInv:hover .discordInv {
    opacity: 1
} */

#InventoryControls {
    z-index: 999
}

#InventoryControls .boxCount {
    margin-top: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center
}

#InventoryControls .boxCount input {
    width: 6vw;
    height: 2.5vw;
    border: 0;
    outline: 0;
    font-size: 1vw;
    color: #fff;
    text-align: center;
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .4) 0, rgba(33, 33, 33, .6) 100%);
    border-radius: .3vw;
    box-shadow: inset 0 0 0 .03vw hsla(0, 0%, 50%, .7);
}   

#InventoryControls .wrap-actions {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw
}

#InventoryControls .wrap-actions .boxActions {
    display: flex;
    justify-content: center;
    position: relative;
    width: 6vw;
    height: 2.5vw;
    border-radius: .3vw;
    box-shadow: inset 0 0 0 .04vw hsla(0, 0%, 50%, .7);
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .4) 0, rgba(33, 33, 33, .6) 100%)
}

#InventoryControls .wrap-actions .boxActions svg {
    height: 0%
}

#InventoryControls .wrap-actions .boxActions .nameAc {
    position: absolute;
    font-size: 0.9vw; 
    text-align: center;
    width: 100%;
    color: #fff;
    bottom: 0.7vw
}

#InventoryControls .wrap-actions .boxActions:hover {
    animation: pulse 1s ease infinite
}

@keyframes pulse {
    0% {
        transform: scaleX(1)
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05)
    }

    to {
        transform: scaleX(1)
    }
}

#InventoryMenuWikiNavBar {
    width: 100%;
    background-color: #121212;
    border-radius: .5vw 0 0 .5vw
}

#InventoryMenuWikiNavBar .logoName {
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5vw;
    margin-bottom: 1vw
}

#InventoryMenuWikiNavBar .logoName img {
    width: 4.5vw
}

#InventoryMenuWikiNavBar .logoName .name {
    font-size: 1.2vw;
    font-weight: 700;
    color: #fff
}

#InventoryMenuWikiNavBar .navBox {
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
    align-items: center
}

#InventoryMenuWikiNavBar .navBox .wrap-navBox {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
    height: 2vw;
    cursor: pointer
}

#InventoryMenuWikiNavBar .navBox .wrap-navBox.select,
#InventoryMenuWikiNavBar .navBox .wrap-navBox:hover .name {
    color: #0089c9
}

#InventoryMenuWikiNavBar .navBox .wrap-navBox .name {
    transition: all .5s;
    display: flex;
    align-items: center;
    font-size: .75vw;
    color: #959799
}

#InventoryMenuWikiNavBar .navBox .wrap-navBox .name svg {
    margin-right: .5vw;
    width: 1.5vw
}

.main {
    color: #fff
}

#InventoryMenuWiki {
    background-color: #0a0a0a;
    width: 50vw;
    height: 33vw;
    grid-template-columns: 15vw 1fr
}

#InventoryMenuSettings,
#InventoryMenuWiki {
    z-index: 999;
    border-radius: .5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: grid
}

#InventoryMenuSettings {
    background-color: #212121;
    width: 20vw;
    grid-template-rows: 5vw 1fr
}

#InventoryMenuSettings .logoName {
    display: flex;
    justify-content: center;
    align-items: center
}

#InventoryMenuSettings .logoName img {
    width: 5vw
}

#InventoryMenuSettings .logoName .name {
    font-size: 1.3vw;
    font-weight: 700;
    color: #fff
}

#InventoryMenuSettings .wrap-params {
    width: 85%;
    margin: 0 auto;
    margin-bottom: .5vw
}

#InventoryMenuSettings .wrap-params .boxParams {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw
}

#InventoryMenuSettings .wrap-params .boxParams .name {
    color: #fff;
    font-size: .8vw
}

#InventoryMenuSettings .wrap-params .boxParams .btn .toggle-label {
    display: flex;
    cursor: pointer;
    width: 2.6vw;
    height: 1vw
}

#InventoryMenuSettings .wrap-params .boxParams .btn .toggle-label input[type=checkbox] {
    opacity: 0
}

#InventoryMenuSettings .wrap-params .boxParams .btn .toggle-label input[type=checkbox]+.back {
    width: 100%;
    height: 100%;
    background: gray;
    transition: background .15s linear;
    border-radius: 50px;
    display: flex;
    justify-content: left;
    align-items: center
}

#InventoryMenuSettings .wrap-params .boxParams .btn .toggle-label input[type=checkbox]:checked+.back {
    background: green
}

#InventoryMenuSettings .wrap-params .boxParams .btn .toggle-label input[type=checkbox]+.back .toggle {
    content: " ";
    background: #fff;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    margin-left: 0;
    transition: margin .15s linear
}

#InventoryMenuSettings .wrap-params .boxParams .btn .toggle-label input[type=checkbox]:checked+.back .toggle {
    margin-left: 50%
}

.closeMenu {
    z-index: 998;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 50%, .5);
    cursor: pointer
}

#InfoItemsTest {
    background-color: #21212100;
    width: 20vw;
    position: absolute;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease
}

#InfoItemsTest.hovering {
    opacity: 0;
    /* opacity: .95 */
}

#InfoItemsTest .wrap-infos {
    opacity: 0;
    margin: 1vw
}

#InfoItemsTest .wrap-infos .top-info {
    opacity: 0;
    display: flex;
    justify-content: left;
    margin-bottom: .5vw
}

#InfoItemsTest .wrap-infos .top-info .imgItem {
    opacity: 0;
    width: 4vw;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 98
}

#InfoItemsTest .wrap-infos .top-info .content-desc {
    opacity: 0;
    margin-left: .5vw
}

#InfoItemsTest .wrap-infos .top-info .content-desc .nameItem {
    opacity: 0;
    font-size: .85vw;
    color: #fff
}

#InfoItemsTest .wrap-infos .top-info .content-desc .descItem {
    opacity: 0;
    margin-top: .3vw;
    font-size: .65vw;
    color: #919496
}

#InfoItemsTest .wrap-infos .infoQqt {
    opacity: 0;
    text-align: right;
    margin-bottom: .3vw;
    font-size: .5vw;
    color: #fff
}

#InfoItemsTest .wrap-infos .separate {
    opacity: 0;
    width: 100%;
    height: 2px;
    border-radius: .3vw;
    background-color: #414958
}

#InfoItemsTest .wrap-infos .bottom-info {
    opacity: 0;
    margin-top: .3vw
}

#InfoItemsTest .wrap-infos .bottom-info .content-weapon .munCharge {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}

#InfoItemsTest .wrap-infos .bottom-info .content-weapon .munCharge .title {
    opacity: 0;
    font-size: .65vw;
    color: #919496
}

#InfoItemsTest .wrap-infos .bottom-info .content-weapon .munCharge .nbrAmmo {
    opacity: 0;
    font-size: .65vw;
    color: #fff
}

#InfoItemsTest .wrap-infos .bottom-info .content-weapon .title-comp {
    opacity: 0;
    margin-top: .5vw;
    font-size: .65vw;
    color: #919496
}

#InfoItemsTest .wrap-infos .bottom-info .content-weapon .attachments-content {
    opacity: 0;
    width: 100%;
    display: flex;
    margin-top: .75vw;
    justify-content: center
}

#InfoItemsTest .wrap-infos .bottom-info .content-weapon .attachments-content .attachment-entry {
    opacity: 0;
    position: relative;
    height: 2.5vw;
    width: 2.5vw;
    margin: 0 .2vw;
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .4) 0, rgba(33, 33, 33, .6) 100%);
    border-radius: .25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1px hsla(0, 0%, 50%, .7) */
}

#HallowenOverlay {
    position: absolute;
    width: 100%;
    height: 100%
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    color: #fff;
    font-size: 1em;
    font-family: Serif;
    text-shadow: 0 0 1px #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake img {
    height: 35px;
    bottom: 0;
    display: block
}

.snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s, 0s
}

.snowflake:first-of-type {
    left: 10%;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 2s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 3s, 1s
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    to {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(100px)
    }

    to {
        transform: translateX(0)
    }
}

#Inventory {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.10) 0, rgba(0, 0, 0, 0.30) 100%);
    overflow: hidden
}

#Inventory .wrap-grid {
    display: grid;
    grid-template-columns: 7vw 26vw 3.5vw 1fr 3.5vw 26vw 7vw;
    grid-template-rows: 12vw 30.7vw 1fr;
    width: 100%;
    height: 100%
}

#Inventory .wrap-grid .MenuWikiSettings {
    display: flex;
    align-items: self-start;
    justify-content: center
}

#Inventory .wrap-grid .MenuWikiSettings .arrowAnim {
    opacity: 0%;
    position: absolute;
    transform: rotate(180deg);
    animation: clignote 1s linear infinite;
    cursor: pointer;
    width: 5vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center
}

#Inventory .wrap-grid .MenuWikiSettings .arrowAnim svg {
    opacity: 0%;
    width: 1.3vw
}

#Inventory .wrap-grid .MenuWikiSettings .wrap-btnMenu {
    opacity: 0%;
    z-index: 99;
    transform: translateY(-2.8vw);
    transition: all 1s;
    background-color: #212121;
    border-bottom: 1px solid rgba(0, 137, 2010, .7);
    border-left: 1px solid hsla(0, 0%, 50%, .7);
    border-right: 1px solid hsla(0, 0%, 50%, .7);
    border-radius: 0 0 1vw 1vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center
}

#Inventory .wrap-grid .MenuWikiSettings .wrap-btnMenu .btn {
    opacity: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vw;
    width: 5vw
}

#Inventory .wrap-grid .MenuWikiSettings .wrap-btnMenu .btn svg {
    opacity: 0%;
    width: 1.5vw
}

#Inventory .wrap-grid .MenuWikiSettings .wrap-btnMenu .btn .WikiBtn {
    opacity: 0%;
    z-index: 99;
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    border-radius: .5vw;
    box-shadow: inset 0 0 0 .05vw hsla(0, 0%, 50%, .7);
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .4) 0, rgba(33, 33, 33, .6) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s
}

#Inventory .wrap-grid .MenuWikiSettings .wrap-btnMenu .btn .WikiBtn:hover {
    opacity: 0%;
    background-color: #fff
}

#Inventory .wrap-grid .MenuWikiSettings .wrap-btnMenu .btn .SettingsBtn {
    opacity: 0%;
    z-index: 99;
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    border-radius: .5vw;
    box-shadow: inset 0 0 0 .05vw hsla(0, 0%, 50%, .7);
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .4) 0, rgba(33, 33, 33, .6) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s
}

#Inventory .wrap-grid .MenuWikiSettings .wrap-btnMenu .btn .SettingsBtn:hover {
    opacity: 0%;
    background-color: #fff
}

#Inventory .wrap-grid .MenuWikiSettings .wrap-btnMenu:hover {
    opacity: 0%;
    opacity: 100%;
    transform: translateY(0);
    border-bottom: 1px solid hsla(0, 0%, 50%, .7)
}

#Inventory .wrap-menu {
    opacity: 0%;
    position: absolute;
    width: 100%;
    height: 100%
}

@keyframes clignote {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(180deg)
    }

    50% {
        opacity: .3;
        transform: translateY(.1vw) rotate(180deg)
    }

    to {
        opacity: 1;
        transform: translateY(0) rotate(180deg)
    }
}

#draggedItem {
    position: absolute;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease
}

.boxWeapons.AnimationWeapons {
    animation: OpacityPulse 1s ease infinite
}

#draggedItem,
.boxWeapons,
.itemEntry {
    overflow: hidden;
    width: 4.7vw;
    height: 4.7vw;
    border-radius: .3vw;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 50%, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .4) 0, rgba(33, 33, 33, .6) 100%);
    transition: transform .5s
}

#draggedItem.Filter,
.boxWeapons.Filter,
.itemEntry.Filter {
    display: none
}

#draggedItem.HoverItem,
.boxWeapons.HoverItem,
.itemEntry.HoverItem {
    cursor: pointer
}

#draggedItem.hovering,
.boxWeapons.hovering,
.itemEntry.hovering {
    animation-duration: .3s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

#draggedItem .wrap-item,
.boxWeapons .wrap-item,
.itemEntry .wrap-item {
    position: relative;
    width: 90%;
    height: 90%
}

#draggedItem .wrap-item .slot,
.boxWeapons .wrap-item .slot,
.itemEntry .wrap-item .slot {
    position: absolute;
    top: 0.20vw;
    left: 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5vw;
    font-size: 3vw;
    color: #ffffff4d
}

#draggedItem .wrap-item .hallowenSpider,
.boxWeapons .wrap-item .hallowenSpider,
.itemEntry .wrap-item .hallowenSpider {
    width: 100%;
    height: 100%;
    background-image: url(/html/static/img/toile-araignee.ac40ec8e.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%
}

#draggedItem .wrap-item .imgItem,
.boxWeapons .wrap-item .imgItem,
.itemEntry .wrap-item .imgItem {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 1vw;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 98
}

#draggedItem .wrap-item .quantityItem,
.boxWeapons .wrap-item .quantityItem,
.itemEntry .wrap-item .quantityItem {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: .5vw;
    color: #fff
}

#draggedItem .wrap-item .nameItem,
.boxWeapons .wrap-item .nameItem,
.itemEntry .wrap-item .nameItem {
    position: absolute;
    bottom: 0;
    font-size: .5vw;
    bottom: 5px;
    text-align: center;
    width: 100%;
    color: #fff;
    z-index: 99
}

#draggedItem .wrap-item .badgeBlocked,
.boxWeapons .wrap-item .badgeBlocked,
.itemEntry .wrap-item .badgeBlocked {
    position: absolute;
    top: 3px;
    ;
    right: 4px;
    font-size: .5vw;
    color: #fff
}

#draggedItem .wrap-item .badgeBlocked svg,
.boxWeapons .wrap-item .badgeBlocked svg,
.itemEntry .wrap-item .badgeBlocked svg {
    width: .8vw
}

#draggedItem .wrap-item .ammoWeapon,
.boxWeapons .wrap-item .ammoWeapon,
.itemEntry .wrap-item .ammoWeapon {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 99;
    color: #fff;
    background: radial-gradient(50% 50% at 50% 50%, rgba(45, 45, 45, .9) 0, rgba(33, 33, 33, .2) 100%);
    gap: .3vw;
    transition: all .1s
}

#draggedItem .wrap-item .ammoWeapon .text,
.boxWeapons .wrap-item .ammoWeapon .text,
.itemEntry .wrap-item .ammoWeapon .text {
    font-size: .7vw
}

#draggedItem .wrap-item .ammoWeapon svg,
.boxWeapons .wrap-item .ammoWeapon svg,
.itemEntry .wrap-item .ammoWeapon svg {
    width: .6vw
}

#draggedItem .wrap-item .ammoWeapon:hover,
.boxWeapons .wrap-item .ammoWeapon:hover,
.itemEntry .wrap-item .ammoWeapon:hover {
    opacity: 1
}

@keyframes changewidth {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(2deg)
    }

    to {
        transform: rotate(-2deg)
    }
}

.ButtonMenuUI {
    background-color: #2a2e35;
    width: 100%;
    height: 2.5vw;
    margin-bottom: .5vw;
    border-radius: .5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff
}

.ButtonMenuUI .name-button {
    margin-left: .5vw;
    font-size: .8vw
}

.ButtonMenuUI .right-button {
    margin-right: .5vw;
    font-size: .6vw
}

.ButtonMenuUI.select {
    background-color: #3a3e46;
    box-shadow: inset 0 0 0 1px gray
}

.SeparatorMenuUI {
    width: 100%;
    height: 2.5vw;
    margin-bottom: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}

.SeparatorMenuUI .name-separator {
    font-size: .8vw
}

.CheckBoxMenuUI {
    background-color: #2a2e35;
    width: 100%;
    height: 2.5vw;
    margin-bottom: .5vw;
    border-radius: .5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff
}

.CheckBoxMenuUI .name-button {
    margin-left: .5vw;
    font-size: .8vw
}

.CheckBoxMenuUI .right-button {
    margin-right: .5vw;
    font-size: .6vw
}

.CheckBoxMenuUI.select {
    background-color: #3a3e46;
    box-shadow: inset 0 0 0 1px gray
}

#MenuUI .wrap-MenuUI {
    position: absolute;
    top: 1.5vw;
    right: 0;
    left: 1.5vw;
    width: 23vw;
    border-radius: .5vw;
    background-color: #20242a;
    border-bottom: 2px solid #8c08ef;
    font-family: EA-sport
}

#MenuUI .wrap-MenuUI .header {
    margin: auto;
    width: 96%
}

#MenuUI .wrap-MenuUI .header .title {
    margin-top: .5vw;
    margin-bottom: .5vw;
    background-color: #2a2e35;
    border-radius: .5vw;
    width: 100%;
    height: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3vw
}

#MenuUI .wrap-MenuUI .header .info-header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5vw;
    margin-bottom: .5vw;
    font-size: .8vw
}

#MenuUI .wrap-MenuUI .content {
    overflow: auto;
    margin: auto;
    width: 96%;
    max-height: 18vw
}

.single-chart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4.5vw
}

.single-chart .circular-chart {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 300px
}

.single-chart .circular-chart .circle-bg {
    fill: none;
    stroke-width: 4
}

.single-chart .circular-chart .circle {
    fill: none;
    stroke-width: 4.3;
    animation: progress 1s ease-out forwards
}

.single-chart .circular-chart .percentage {
    font-size: .35vw;
    text-anchor: middle
}

.single-chart .circular-chart .TrasnCircle {
    transition: all .5s
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100
    }
}

#WeedInfosPlant {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    background-color: rgba(33, 33, 33, .95);
    border-radius: .3vw
}

#WeedInfosPlant .wrap-box {
    display: grid;
    grid-template-columns: 1vw 9vw .5vw 9vw .5vw 9vw 1vw;
    grid-template-rows: 1vw 2vw 3.5vw 1fr 1vw;
    width: 100%;
    height: 100%
}

#WeedInfosPlant .wrap-box .wrap-close {
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center
}

#WeedInfosPlant .wrap-box .wrap-close .closeBtn {
    background-color: rgba(33, 33, 33, .95);
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s
}

#WeedInfosPlant .wrap-box .wrap-close .closeBtn svg {
    width: .6vw
}

#WeedInfosPlant .wrap-box .wrap-close .closeBtn:hover {
    transform: rotate(90deg) scale(1)
}

#WeedInfosPlant .wrap-box .title {
    font-size: 1.5vw;
    color: #fff;
    text-align: center
}

#WeedInfosPlant .wrap-box .content-header,
#WeedInfosPlant .wrap-box .content-header .state,
#WeedInfosPlant .wrap-box .title {
    display: flex;
    align-items: center;
    justify-content: center
}

#WeedInfosPlant .wrap-box .content-header .state {
    width: 6vw;
    height: 2vw;
    background: rgba(0, 0, 0, .4);
    border-radius: .2vw;
    color: #fff
}

#WeedInfosPlant .wrap-box .wrap-separateBar {
    width: 100%;
    display: flex;
    justify-content: center
}

#WeedInfosPlant .wrap-box .wrap-separateBar .bar {
    width: .05vw;
    background-color: hsla(0, 0%, 50%, .5);
    border-radius: .5vw
}

#WeedInfosPlant .wrap-box .wrapweed-info .title {
    font-size: 1.2vw;
    margin-bottom: 1vw
}

#WeedInfosPlant .wrap-box .wrapweed-info .circle-prc {
    display: flex;
    justify-content: center;
    margin-bottom: 1vw
}

#WeedInfosPlant .wrap-box .wrapweed-info .btnAdd {
    width: 80%;
    height: 2vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    color: gray;
    font-size: .7vw;
    border-radius: .3vw;
    cursor: pointer;
    transition: all .5s
}

#WeedInfosPlant .wrap-box .wrapweed-info .btnAdd:hover {
    transform: scale(1.03)
}

#WeedInfosPlant .wrap-box .wrapweed-info .wrap-require {
    width: 95%;
    margin: 1vw auto
}

#WeedInfosPlant .wrap-box .wrapweed-info .wrap-require .titleRequire {
    color: gray;
    font-size: .8vw
}

#WeedInfosPlant .wrap-box .wrapweed-info .wrap-require .boxRequire {
    margin-top: .5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(0, 0%, 50%, .502);
    height: 2vw;
    border-radius: .2vw
}

#WeedInfosPlant .wrap-box .wrapweed-info .wrap-require .boxRequire .firstBail {
    margin-left: .5vw;
    display: flex;
    justify-content: center;
    align-items: center
}

#WeedInfosPlant .wrap-box .wrapweed-info .wrap-require .boxRequire .firstBail .titleBox {
    font-size: .65vw;
    color: #fff;
    margin-left: .2vw
}

#WeedInfosPlant .wrap-box .wrapweed-info .wrap-require .boxRequire .firstBail .img {
    height: 2vw;
    width: 1.5vw;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 99
}

#WeedInfosPlant .wrap-box .wrapweed-info .wrap-require .boxRequire .count {
    font-size: .7vw;
    color: #0f8b0f;
    margin-right: .5vw
}

#WeedInfosPlant .wrap-box .content-infos .wrap-lifeLeaf .circle-prc {
    margin-bottom: .5vw
}

#WeedInfosPlant .wrap-box .content-infos .wrap-varLeaf {
    margin-top: 1.5vw
}

#WeedInfosPlant .wrap-box .content-infos .wrap-varLeaf .img {
    margin-bottom: .5vw;
    height: 4vw;
    width: 100%;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat
}

#WeedInfosPlant .wrap-box .content-infos .infoTitle {
    color: gray;
    font-size: .8vw;
    text-align: center
}

#WeedSelectSeed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(33, 33, 33, .95);
    border-radius: .3vw
}

#WeedSelectSeed .wrap-close {
    position: absolute;
    margin-top: .5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

#WeedSelectSeed .wrap-close .closeBtn {
    background-color: rgba(33, 33, 33, .95);
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s
}

#WeedSelectSeed .wrap-close .closeBtn svg {
    width: .6vw
}

#WeedSelectSeed .wrap-close .closeBtn:hover {
    transform: rotate(90deg) scale(1)
}

#WeedSelectSeed .content {
    margin: .8vw
}

#WeedSelectSeed .content .title {
    text-align: center;
    color: #fff;
    font-size: 1vw;
    margin-bottom: .5vw
}

#WeedSelectSeed .content .wrap-box {
    display: flex;
    align-items: center;
    justify-content: center
}

#WeedSelectSeed .content .wrap-box .boxSeed {
    position: relative;
    margin: .5vw;
    border: 1px solid gray;
    width: 5vw;
    height: 5vw;
    border-radius: .5vw;
    transition: all .5s
}

#WeedSelectSeed .content .wrap-box .boxSeed .img {
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 1vw;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 99
}

#WeedSelectSeed .content .wrap-box .boxSeed .title {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: .7vw
}

#WeedSelectSeed .content .wrap-box .boxSeed:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: .8
}